html,body{
    margin: 0px;
    font-family: 'Helvetica';
}
img{
    width: 100%;
    height: auto;
}
p{
    font-size: 16px;
    font-family: "Helvetica";
    line-height: 1.5em;
}

.header{
    /*border: 1px solid black;*/
    height: 60px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-container{
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
}
.title{
    font-family: Helvetica;
    font-size: 32px;
    margin: 0px;
    float: left;
    color: #ffcc00;
}

.nav{
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
}
.nav li{
    float: left;
    padding: 10px 0px;
    position: relative;
    font-weight: 800;
}
.nav li a{
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: #2e2e2e;
    font-family: "Helvetica";
    border: bottom: 2px solid white;
    
}
.nav li a:hover{
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
}

.content{
    border: 1px solid black;
    min-height: 300px;
    height: auto;
    background-color: #f5f5f5;
}
.landing-section{
    position: relative;
    background: url("greencity25.jpg") no-repeat 0 0 fixed;
    background-size: cover;
    height: 600px;
    margin-top: 60px;
}
.caption{
    padding: 0px 30px;
    font-size: 24px;
    width: auto;
    color: white;
    position: absolute;
    font-size: 20px;
    top: 350;
    left: 60;
    background-color: #2e2e2e;
    padding: 30px;
}
.main-body{
    padding: 60px;
    text-align: center;
}
.subtitle{
    font-size: 20px;
    background-color: #ffcc00;
    padding: 15px;
    width: 180px;
    text-align: center;
    margin: 30px auto;
}

.blog-section{
    border: 1px solid black;
}

.cards{
    width: 300px;
    height: auto;
    background-color: white;
}

.footer{
    padding: 100px 30px;
    background-color: #2e2e2e;
    color: white;
    border: 1px solid black;
    text-align: center;
    min-height: 50px;
    padding: 10px;
}